*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  overflow-y: hidden; 
}
.con {
  display: flex;
  flex-direction: row;
  height: 93vh;

}

.left-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.center-col {
  flex: 2;
  background: #aaa;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.center-col::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.right-col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7e7e7;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
 

  
}
.right-col::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.right-cols {
  flex: 1;
  background: #e7e7e7;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
 

  
}
.right-cols::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.web {
  overflow: hidden;
}

.fluid {
objectFit: cover;
borderRadius: 55;
width: 100vh;
height: 70vh;
}